@charset "utf-8";

.error {
    color: #F00;
    font-weight: bold;
}

#logo_small {
    position: absolute;
    left: 80px;
    top: 35px;
}

/* Form style begin */
form.start {
    margin-top: 100px;
}

form.start #row_input_query {
    margin-bottom: 20px;
}

form.results {
    margin-top: 30px;
}

#input_query {
    border: 1px solid #AAA;
    height: auto;
    background: #FFC;
    font-family: Arial, san-serif;
    font-size: 1.9em;
}

#checkboxes {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5em;
}

#selects {
    text-align: center;
}

select {
    width: 180px;
    font-family: Arial, san-serif;
    font-size: 1.5em;
}

/* Form style finish */

.pagelist {
    font-size: 1.5em;
}

/* Item List style begin */
ul {
    list-style: none;
}

.item a {
    font-size: 130%;
    color: #00F;
}

.item p {
    width: 650px;
}

.item:hover {
    background-color: #EEE;
}

.displayurl{
    color: #990;
}

/* Item List style finish */

/* Footer style begin */
#footer {
    margin-top: 100px;
    font-size: 1.7em;
}
/* Footer style finish */
