@charset "utf-8";

img {
	border: 0px;
}

a:link {
	text-decoration: none;
	color: #7D59AA;
}
a:hover {
	text-decoration: underline;
	color: #039;
}
a:visited {
	color: #7D59AA;
}
a:active {
	text-decoration:underline;
	color: #7D59AA;
}

body {
	margin: 0px;
	background-color: #EEE;
}

#mainwrapper {
	margin: 0px auto;
	max-width: 980px;
    padding: 0px;
	font-family: Arial, san-serif;
}

#logo {
    display: block;
    margin: 90px auto 30px;
}

#logo_small {
    
}

.error {
    color: #F00;
    font-weight: bold;
}

/* Form style begin */

#form_search {
    max-width: 370px;
    margin: 0 auto;
}

#input_query {
    border: 1px solid #AAA;
    height: auto;
    background: #FFC;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, san-serif;
    font-size: 1.9em;
}

#button_search {
    display: block;
    margin: 10px auto;
}

#checkboxes {
    height: auto;
    text-align: center;
    font-size: 1.5em;
}

select {
    text-align: center;
    margin: 5px auto;
    font-family: Arial, san-serif;
    font-size: 1.5em;
}

#checkboxes {
    
}

/* Form style finish */

/* Item List style begin */
ul {
    list-style: none;
}

.item a {
    font-size: 130%;
    color: #00F;
}

.item p {
    width: 650px;
}

.item:hover {
    background-color: #EEE;
}

.displayurl{
    color: #990;
}

/* Item List style finish */

/* Footer style begin */
#footer {
    margin-top: 60px;
    font-size: 1.7em;
}
/* Footer style finish */
