<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Page unavailable -- MetaSearch</title>
    <style>
      body {margin:0px;}
      #mainwrapper {margin:0px auto;padding:0px;height:auto;width:980px;font-family:Arial,san-serif;}
      .placeholder {width:980px;height:80px;}
      .content {font-size:1.7em;text-align: center;color: purple;}
      #footer {margin-top: 160px;font-size: 1.7em;}
    </style>
  </head>

  <body>
    <div id="mainwrapper">
      <h1>Page unavailable</h1>
      <div class="placeholder">&nbsp;</div>
      <p class="content">
        Sorry, but the requested page is unavailable.
      </p>
      <div class="placeholder">&nbsp;</div>
      <div id="footer" align="center">
        <p>
          <a href="/">START</a>&nbsp;&nbsp;&nbsp;
          <a href="/about/">ABOUT</a>&nbsp;&nbsp;&nbsp;
          <a href="/help/">HELP</a>&nbsp;&nbsp;&nbsp;
          <a href="mailto:zeyanglin2013@gmail.com?subject=Feedback">FEEDBACK</a>
        </p>
        <p>
            Zeyang Lin&nbsp;&copy;&nbsp;2013&nbsp;&nbsp;
            <a href="http://www.linkedin.com/in/zeyanglin" target="_blank"><img src="../static/linkedin.png" alt="LinkedIn" /></a>&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/linzeyang" target="_blank"><img src="../static/github.png" alt="Github" /></a>&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/zeyanglin" target="_blank"><img src="../static/twitter.png" alt="Twitter" /></a>&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/linzeyang" target="_blank"><img src="../static/facebook.png" alt="Facebook" /></a><br />
        </p>
        <p>Powered by <a href="https://www.djangoproject.com" target="_blank">Django</a></p>
      </div>
    </div>
  </body>
</html>