<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="keywords" content="meta, search, engine, BING, Blekko, EntireWeb, aggregated, cluster, {% block metakeywords%}placeholder{% endblock %}" />
    <meta http-equiv="description" content="{% block metadescription %}placeholder{% endblock %}" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/static/script.js"></script>
    
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" />
    
    <title>{% block title %}Template Page{% endblock %}</title>
  </head>

  <body>
    <div id="mainwrapper">

      {% block content %}
        <h1>content placeholder</h1>
      {% endblock %}

      <div id="footer" align="center">
        <p>
          <a href="/">START</a>&nbsp;&nbsp;&nbsp;
          <a href="/about/">ABOUT</a>&nbsp;&nbsp;&nbsp;
          <a href="/help/">HELP</a>&nbsp;&nbsp;&nbsp;
          <a href="mailto:zeyanglin2013@gmail.com?subject=Feedback">FEEDBACK</a>
        </p>
        <p>
          Zeyang Lin&nbsp;&copy;&nbsp;2013&nbsp;&nbsp;
          <a href="http://www.linkedin.com/in/zeyanglin" target="_blank"><img src="/static/linkedin.png" alt="LinkedIn" /></a>&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/linzeyang" target="_blank"><img src="/static/github.png" alt="Github" /></a>&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/zeyanglin" target="_blank"><img src="/static/twitter.png" alt="Twitter" /></a>&nbsp;&nbsp;&nbsp;
          <a href="https://www.facebook.com/linzeyang" target="_blank"><img src="/static/facebook.png" alt="Facebook" /></a><br />
        </p>
        <p>Powered by <a href="https://www.djangoproject.com" target="_blank">Django</a></p>
      </div>

    </div>

    <script>
      $( document ).ready( onReady );
    </script>
  </body>
</html>