{% extends "base.html" %}

{% block metadescription %}
Start Page of MetaSearch
{% endblock %}

{% block title %}
Zeyang's MetaSearch
{% endblock %}

{% block content %}
<div class="placeholder">&nbsp;</div>
<img src="/static/logo.png" alt="MetaSearch" id="logo"/><br />

<form name="form1" id="form1" class="start" action="/search/" method="get" onsubmit="return validate();">
    <input type="text" name="query" id="query" maxlength="100" value="Enter your query here" onfocus="query_onfocus();" />
    <input type="submit" id="submit" value="Search" /><br />
    <div id="checkboxes">
    <input type="checkbox" name="bing" id="bing" checked="checked" /><label for="bing">Bing</label>
    <input type="checkbox" name="blekko" id="blekko" checked="checked" /><label for="blekko">Blekko</label>
    <!-- EntireWeb is temporarily disabled as its API is not available occasionally -->
    <input type="checkbox" name="entweb" id="entweb" title="Currently Disabled" disabled /><label for="entweb" title="Currently Disabled" >EntireWeb</label><br />
    </div>
    <select name="aggr" id="aggr">
        <option value="false" selected="selected">Non-Aggregated</option>
        <option value="true">Aggregated</option>
    </select>
    <select name="cluster" id="cluster">
        <option value="false" selected="selected">Non-Clustered</option>
        <option value="true">Clustered</option>
    </select>
</form>

{% if errors %}
    {% for e in errors %}
    <p class="error" align="center">{{ e }}</p>
    {% endfor %}
{% endif %}
<div class="placeholder">&nbsp;</div>
{% endblock %}
