{% extends "base.html" %}

{% block metadescription %}
Start Page of MetaSearch
{% endblock %}

{% block title %}
MetaSearch
{% endblock %}

{% block content %}

<img src="/static/logo.png" alt="MetaSearch" id="logo"/>

<form id="form_search" class="form-signin start" action="/search/" method="get">
  <input type="text" name="query" id="input_query" class="form-control" maxlength="100" placeholder="Enter your query here" autofocus />
  <input type="submit" id="button_search" class="btn btn-lg btn-primary" value="Search" /><br />
  <div id="checkboxes">
    <input type="checkbox" name="bing" id="box_bing" checked="checked" /><label for="box_bing">Bing</label>
    <input type="checkbox" name="blekko" id="box_blekko" checked="checked" /><label for="box_blekko">Blekko</label>
    <!-- EntireWeb is temporarily disabled as its API is not available occasionally -->
    <input type="checkbox" name="entweb" id="box_entweb" title="Currently Disabled" disabled /><label for="box_entweb">EntireWeb</label><br />
  </div>
  <select name="aggr" id="select_aggr">
    <option value="false" selected="selected">Non-Aggregated</option>
    <option value="true">Aggregated</option>
  </select>
  <select name="cluster" id="select_cluster">
    <option value="false" selected="selected">Non-Clustered</option>
    <option value="true">Clustered</option>
  </select>
</form>

{% if errors %}
  {% for e in errors %}
  <p class="error" align="center">{{ e }}</p>
  {% endfor %}
{% endif %}
<div class="placeholder">&nbsp;</div>

{% endblock %}