<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTTP 500: Page unavailable -- MetaSearch</title>
    <style>
      body {
        margin:0px;
      }
      #mainwrapper {
        margin:0px auto;
        padding:0px;
        height:auto;
        width:980px;
        font-family:Arial,san-serif;
      }
      .placeholder {
        width:980px;
        height:80px;
      }
      .content {
        font-size:1.7em;
        text-align:center;
        color:purple;
      }
    </style>
  </head>

  <body>
    <div id="mainwrapper">
      <h1>Page unavailable</h1>
      <div class="placeholder">&nbsp;</div>
      <p class="content">
        Sorry, but the requested page is unavailable.
      </p>
      <div class="placeholder">&nbsp;</div>      
    </div>
  </body>
</html>